{% extends 'app/base.html' %}
{% block content %}


<div class="container-fluid bg-info my-5 text-center">
    <h1>MINI BLOGG FAMILY</h1>
    </div>
<div class="bg-light text-center my-5">
    <p style="font-size: 30px">Our ability to connect people, places and ideas through digital networks has dramatically increased over time.</p>
</div>
<div class="bg-light text-center my-5">
    <p style="font-size: 30px">We introduce to intract the ability in people that keep his ideas make their plateform to present his thoughts
    globally with the help of digitality and share with one another. </p>
</div>
<div class="text-center"><a href="{% url 'home' %}" class="btn btn-info btn-primary-sm btn-success">Home</a></div>




{% endblock content %}