{% extends 'app/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid bg-info my-3">
   <center> <h1>Post</h1></center>
</div>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {{fm.non_field_errors}}
        {% for f in fm.visible_fields %}
        <div>{{f.label}}{{f}}<small class="text-warning">{{f.errors|striptags}}</small></div>
        {% endfor %}
        {% for h in fm.hidden_fields %}
        {{h}}
        {% endfor %}
        
        {% if messages %}
        {% for message in messages %}
        <span class="text-warning">{{message}}</span>
        {% endfor %}
        {% endif %}
        <br>
        <input type="submit" value="Submit" class="btn btn-primary">
        <button  class="btn btn-danger"><a style="text-decoration: none;" class="text-white" href="{% url 'dashboard' %}">Cancel</a></button>
    
    </form>
{% endblock content %}