{% extends 'app/base.html' %}

{% block content %}
<div class="container-fluid bg-info my-5">
<h1 class="text-center">Dashboard changes again by developers</h1>
</div>
<button class="btn btn-warning btn-outline-success"><a style="text-decoration: none;" class="text-white" href="{% url 'add' %}">Add Post</a></button>

<div class="container-fluid bg-light my-3">
     <h1 class="text-center">Post Informations</h1>
 </div>
 <div>
    <table class="table table-hover bg-white">
        <thead>
          <tr style="background-color:teal;" class="text-center">
            <th>TITLE</th>
            <th>DESCRIPTIONS</th>
            <th>URL</th>
            <th>ACTION</th>
          </tr>
        </thead>
        {% if fm %}
        {% for f in fm %}
        <tbody>
          <tr class="text-center">
            <td>{{f.title|capfirst}}</td>
            <td>{{f.brief|capfirst}}</td>
            <td>{{f.link}}</td>
            <td class="text-center"><button  class="btn btn-info btn-sm btn-outline-success"><a style="text-decoration: none;" class="text-white" href="{% url 'update' f.id %}">Update</a></button><br><br>
              {% if request.user.is_superuser %}
                <button  class="btn btn-danger btn-sm btn-outline-success"><a style="text-decoration: none;" class="text-white" href="{% url 'delete' f.id %}">Delete</a></button></td>
                {% endif %}
          </tr>
        </tbody>
        {% endfor %}
        {% else %}
        <tr class="text-center">
          
          <td></td>
          <td><h2>No Post Uploaded</h2></td>
          <td></td>
        </tr>
        {% endif %}
      </table>
 </div>
{% endblock content %}